@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
*::selection {
  background: #E31B6D;
  /* WebKit/Blink Browsers */ }

*::-moz-selection {
  background: #E31B6D;
  /* Gecko Browsers */ }

body {
  margin: 0;
  color: black;
  padding: 0;
  font-family: 'Roboto'; }

h2 {
  text-align: center;
  font-weight: 400; }

.noSelect {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

a {
  text-decoration: none;
  color: inherit; }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #1B242F; }
  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; }

.navbar {
  width: 100%;
  height: 75px;
  line-height: 75px;
  vertical-align: middle;
  background: #1B242F;
  border-bottom: 3px solid #04c2c9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .navbar #brand {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1.3em;
    height: 75px;
    line-height: 75px;
    vertical-align: middle;
    padding: 0 20px;
    color: #04c2c9;
    transition: all .5s ease-in-out;
    word-wrap: nowrap;
    white-space: nowrap; }
    .navbar #brand span {
      padding: 0 10px; }
    .navbar #brand #logo {
      height: 60px;
      margin-top: 7.5px; }
    .navbar #brand:hover {
      cursor: pointer;
      color: #E31B6D; }
  .navbar ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    flex-grow: 1;
    white-space: nowrap; }
    .navbar ul li {
      padding: 0px 20px 0px 0px;
      color: white;
      transition: all .5s ease-in-out;
      font-size: 1.1em; }
      .navbar ul li a.is-active {
        color: #E31B6D; }
      .navbar ul li:hover {
        cursor: pointer;
        color: #E31B6D; }

.hero {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #1B242F; }
  .hero .particles-js {
    position: absolute;
    left: 0;
    height: calc(100vh - 75px);
    width: 100vw;
    max-width: 100%; }
  .hero .intro {
    font-size: 3rem;
    color: white;
    max-width: inherit; }
    @media only screen and (max-width: 599px) {
      .hero .intro {
        font-size: 2rem; } }
    .hero .intro #name {
      color: #E31B6D; }

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center; }
  .heading h1 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    text-transform: uppercase; }
    @media only screen and (max-width: 599px) {
      .heading h1 {
        font-size: 2rem; } }
  .heading .bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    background: #1B242F;
    width: 70px;
    height: 4px; }

.about {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .about .section_heading {
    width: 100%; }

.sidebar {
  width: 350px;
  height: 100vh;
  position: fixed;
  transition: all .5s ease-in-out;
  top: 0;
  right: 0;
  background-color: #1B242F;
  z-index: 10001; }
  @media only screen and (max-width: 599px) {
    .sidebar {
      width: 100vw; } }
  .sidebar .closeButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .sidebar .closeButton i {
      color: white;
      transition: all .5s ease-in-out;
      font-size: 2rem;
      margin: 20px 20px 10px 20px; }
      .sidebar .closeButton i:hover {
        cursor: pointer;
        color: white; }
  .sidebar ul {
    list-style-type: none;
    max-width: 270px; }
    .sidebar ul div li a {
      text-decoration: none;
      color: white; }
      .sidebar ul div li a:hover {
        cursor: pointer;
        color: white; }
    .sidebar ul li {
      padding: 20px;
      border-bottom: 1px solid white;
      color: white;
      transition: all .5s ease-in-out; }
      .sidebar ul li:hover {
        cursor: pointer;
        color: white; }

.alert {
  background-color: #f44336;
  color: white;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  padding: 0;
  height: 0;
  position: fixed;
  z-index: 10001;
  bottom: 20px;
  left: 50%;
  width: 30vw;
  transform: translateX(-50%); }
  @media only screen and (max-width: 599px) {
    .alert {
      width: 80vw; } }
  .alert.show {
    opacity: 1;
    padding: 20px;
    height: auto; }
  .alert.hide {
    opacity: 0;
    padding: 0;
    height: 0; }
  .alert .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; }
    .alert .closebtn:hover {
      color: black; }

.link {
  color: #0080ff; }
  .link:hover {
    text-decoration: underline; }

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto; }
  .flex .half-col {
    flex: 1;
    margin: 0 1%; }
  @media only screen and (max-width: 599px) {
    .flex .half-col {
      flex: 1 48%; }
      .flex .half-col:nth-child(1) {
        order: 1; }
      .flex .half-col:nth-child(2) {
        order: 2; } }
  @media only screen and (min-width: 600px) {
    .flex .half-col {
      flex: 1 96%; }
      .flex .half-col:nth-child(1) {
        order: 1; }
      .flex .half-col:nth-child(2) {
        order: 2; } }
  @media only screen and (min-width: 1340px) {
    .flex .half-col {
      flex: 1;
      margin: 0 1%; } }
  @media only screen and (min-width: 2000px) {
    .flex .half-col {
      flex: 1;
      margin: 0 1%; } }
  .flex .me {
    width: 50%;
    margin-top: 75px; }
    .flex .me #who {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
      align-items: center; }
      .flex .me #who svg {
        width: 250px;
        height: 250px; }
        @media only screen and (max-width: 599px) {
          .flex .me #who svg {
            width: 175px;
            height: 175px; } }
      .flex .me #who .mugshot {
        width: 200px;
        height: 225px;
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        background-image: url(/portfolio/me.jpeg);
        background-size: cover; }
      .flex .me #who p {
        width: 350px; }
    .flex .me .interests {
      margin-top: 50px;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around;
      text-align: center;
      align-items: center; }
      .flex .me .interests .languages {
        padding-top: 50px;
        width: 100%;
        display: flex;
        flex: 0 0 100%;
        flex-flow: row wrap;
        justify-content: space-around; }
        .flex .me .interests .languages i {
          font-size: 6rem; }
          @media only screen and (max-width: 599px) {
            .flex .me .interests .languages i {
              width: 100%;
              padding: 20px; } }
    .flex .me .skills {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around;
      text-align: center;
      align-items: center; }
      .flex .me .skills .languages {
        width: 75%;
        flex: 1;
        flex-flow: column wrap; }
        @media only screen and (max-width: 599px) {
          .flex .me .skills .languages {
            width: 100%; } }
        .flex .me .skills .languages .language {
          background: #eee;
          margin: 30px 15px;
          display: flex;
          flex-direction: row;
          justify-content: left;
          text-align: center;
          align-items: center; }
          .flex .me .skills .languages .language .label {
            background: #04c2c9;
            color: white;
            font-weight: 700;
            padding: 10px;
            width: 12%;
            text-transform: uppercase; }
            @media only screen and (max-width: 599px) {
              .flex .me .skills .languages .language .label {
                width: 25%; } }
          .flex .me .skills .languages .language .progress {
            width: 100%;
            height: 39px;
            background: #eee;
            position: relative; }
            .flex .me .skills .languages .language .progress .inner {
              background: #039297;
              height: 39px; }
            .flex .me .skills .languages .language .progress::after {
              content: attr(data-progress);
              font-size: 1.5rem;
              height: 39px;
              line-height: 39px;
              vertical-align: middle;
              /*Position text over the progress bar */
              position: absolute;
              top: 0;
              bottom: 0;
              right: 10px; }
  .flex .beliefs {
    order: 1;
    width: 50%;
    margin-top: 75px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    align-items: center; }
    .flex .beliefs .skill {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding: 50px; }
      @media only screen and (max-width: 599px) {
        .flex .beliefs .skill {
          flex-direction: column;
          align-content: center;
          padding: 0 0 50px 0; }
          .flex .beliefs .skill:nth-of-type(1) {
            padding: 50px 0 50px 0; } }
      .flex .beliefs .skill .left {
        border-width: 3px;
        border-style: solid;
        -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#E31B6D), to(rgba(0, 0, 0, 0))) 1 100%;
        -webkit-border-image: -webkit-linear-gradient(bottom, #E31B6D, white) 1 100%;
        -moz-border-image: -moz-linear-gradient(bottom, #E31B6D, white) 1 100%;
        -o-border-image: -o-linear-gradient(bottom, #E31B6D, white) 1 100%;
        border-image: linear-gradient(to top, #E31B6D, white) 1 100%;
        width: 25%;
        border-left: none; }
        @media only screen and (max-width: 599px) {
          .flex .beliefs .skill .left {
            border-image: none;
            border: none; } }
      .flex .beliefs .skill .right {
        width: 75%;
        padding: 20px;
        text-align: left; }
      .flex .beliefs .skill .skill_heading {
        font-weight: 400;
        margin: 0;
        margin-top: 10px; }
      .flex .beliefs .skill .skill_desc {
        font-weight: 100;
        max-width: 75%;
        margin: 0 auto; }
        @media only screen and (max-width: 599px) {
          .flex .beliefs .skill .skill_desc {
            max-width: 100%; } }
      .flex .beliefs .skill .hexagon {
        position: relative;
        width: 200px;
        height: 115.47px;
        margin: 57.74px 0;
        background-color: #04c2c9; }
        @media only screen and (max-width: 599px) {
          .flex .beliefs .skill .hexagon {
            width: 100px;
            height: 57.74px;
            margin: 28.87px 0; } }
        @media only screen and (min-width: 600px) {
          .flex .beliefs .skill .hexagon {
            width: 100px;
            height: 57.74px;
            margin: 28.87px 0; } }
        .flex .beliefs .skill .hexagon::before, .flex .beliefs .skill .hexagon::after {
          content: "";
          position: absolute;
          width: 0;
          left: 0;
          border-left: 100px solid transparent;
          border-right: 100px solid transparent; }
          @media only screen and (max-width: 599px) {
            .flex .beliefs .skill .hexagon::before, .flex .beliefs .skill .hexagon::after {
              border-left: 50px solid transparent;
              border-right: 50px solid transparent; } }
          @media only screen and (min-width: 600px) {
            .flex .beliefs .skill .hexagon::before, .flex .beliefs .skill .hexagon::after {
              border-left: 50px solid transparent;
              border-right: 50px solid transparent; } }
        .flex .beliefs .skill .hexagon::before {
          bottom: 100%;
          border-bottom: 57.74px solid #04c2c9; }
          @media only screen and (max-width: 599px) {
            .flex .beliefs .skill .hexagon::before {
              border-bottom: 28.87px solid #04c2c9; } }
          @media only screen and (min-width: 600px) {
            .flex .beliefs .skill .hexagon::before {
              border-bottom: 28.87px solid #04c2c9; } }
        .flex .beliefs .skill .hexagon::after {
          top: 100%;
          width: 0;
          border-top: 57.74px solid #04c2c9; }
          @media only screen and (max-width: 599px) {
            .flex .beliefs .skill .hexagon::after {
              border-top: 28.87px solid #04c2c9; } }
          @media only screen and (min-width: 600px) {
            .flex .beliefs .skill .hexagon::after {
              border-top: 28.87px solid #04c2c9; } }
        .flex .beliefs .skill .hexagon i, .flex .beliefs .skill .hexagon span {
          z-index: 9;
          font-size: 6rem;
          color: white; }
          @media only screen and (max-width: 599px) {
            .flex .beliefs .skill .hexagon i, .flex .beliefs .skill .hexagon span {
              font-size: 3rem; } }
          @media only screen and (min-width: 600px) {
            .flex .beliefs .skill .hexagon i, .flex .beliefs .skill .hexagon span {
              font-size: 3rem; } }

.educations {
  width: 90%;
  margin: 0 auto; }
  .educations .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    .educations .wrapper .edu {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around; }
      .educations .wrapper .edu .logo {
        height: 25%; }

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }

.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center; }
  .scroll-btn * {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: #ffffff;
    letter-spacing: 2px;
    transition: .3s all ease-in-out; }
    .scroll-btn *:hover, .scroll-btn *:focus, .scroll-btn *:active {
      color: #ffffff;
      opacity: 0.8;
      filter: alpha(opacity=80); }
  .scroll-btn .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 23px; }
    .scroll-btn .mouse * {
      position: absolute;
      display: block;
      top: 29%;
      left: 50%;
      width: 8px;
      height: 8px;
      margin: -4px 0 0 -4px;
      background: white;
      border-radius: 50%;
      -webkit-animation: ani-mouse 2.5s linear infinite;
      -moz-animation: ani-mouse 2.5s linear infinite;
      animation: ani-mouse 2.5s linear infinite; }
  .scroll-btn p {
    margin-left: -40px; }

.bot-left {
  position: relative;
  padding-left: 20px;
  padding-bottom: 10px; }
  .bot-left::before, .bot-left::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: -3px; }
  .bot-left::before {
    top: -3px;
    width: 3px;
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#000), to(transparent));
    background-image: -webkit-linear-gradient(transparent, #000);
    background-image: -moz-linear-gradient(transparent, #000);
    background-image: -o-linear-gradient(transparent, #000); }
  .bot-left::after {
    right: -3px;
    height: 3px;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#000), to(transparent));
    background-image: -webkit-linear-gradient(left, #000, transparent);
    background-image: -moz-linear-gradient(left, #000, transparent);
    background-image: -o-linear-gradient(left, #000, transparent); }
